Repository maxhoesel-ansible/ansible-collection-smallstep, pull requests merged in 2024-04, with the labels that each got.

#388 Correction of spelling errors
  CONTRIBUTING.md
  roles/step_bootstrap_host/README.md
  roles/step_ca/README.md
Labels: docs

#374 Add missing dash to new-password-file arg when setting intermediate key passwd
  roles/step_ca/tasks/init.yml
Labels: pr-patch, roles

#379 roles: fix step_cli_install var being overwritten
  roles/step_acme_cert/tasks/check.yml
  roles/step_cli/tasks/install.yml
Labels: pr-patch, roles

#399 roles: update supported distros, remove older distros
  roles/step_acme_cert/README.md
  roles/step_acme_cert/molecule/default/molecule.yml
  roles/step_acme_cert/molecule/non_root/molecule.yml
  roles/step_bootstrap_host/README.md
  roles/step_bootstrap_host/molecule/default/molecule.yml
  roles/step_bootstrap_host/molecule/multi_user/molecule.yml
  roles/step_ca/README.md
  roles/step_ca/molecule/default/molecule.yml
  roles/step_cli/README.md
  roles/step_cli/molecule/default/molecule.yml
Labels: pr-major, roles

#398 modules: refactor cli_wrapper to Command-based approach
  plugins/module_utils/cli_wrapper.py
  plugins/modules/step_ca_bootstrap.py
  plugins/modules/step_ca_certificate.py
  plugins/modules/step_ca_provisioner.py
  plugins/modules/step_ca_renew.py
  plugins/modules/step_ca_token.py
  plugins/modules/step_certificate_info.py
Labels: chore, modules

#396 step_ca: fix failure on ipv6-only networks
  roles/step_ca/README.md
  roles/step_ca/defaults/main.yml
  roles/step_ca/meta/argument_specs.yml
Labels: waiting for feedback, pr-minor, roles

#401 modules: factor out cliargs into separate dataclass
  plugins/module_utils/cli_wrapper.py
  plugins/module_utils/helpers.py
  plugins/module_utils/params/ca_admin.py
  plugins/module_utils/params/ca_connection.py
  plugins/module_utils/params/params_helper.py
  plugins/modules/step_ca_bootstrap.py
  plugins/modules/step_ca_certificate.py
  plugins/modules/step_ca_provisioner.py
  plugins/modules/step_ca_renew.py
  plugins/modules/step_ca_token.py
  plugins/modules/step_certificate_info.py
Labels: chore, modules

#402 modules: add `_password` args as alternative to password_files
  plugins/doc_fragments/ca_admin.py
  plugins/module_utils/cli_wrapper.py
  plugins/module_utils/params/ca_admin.py
  plugins/modules/step_ca_certificate.py
  plugins/modules/step_ca_provisioner.py
  plugins/modules/step_ca_renew.py
  plugins/modules/step_ca_token.py
  tests/integration/targets/step_ca_certificate/tasks/main.yml
  tests/integration/targets/step_ca_provisioner/tasks/main.yml
  tests/integration/targets/step_ca_renew/tasks/main.yml
  tests/integration/targets/step_ca_token/tasks/main.yml
Labels: pr-minor, modules
